.input-style {
  display: block;
  width: 100%;
  margin: 0;
  box-shadow: none;
  padding: 5px 10px;
  font-family: $font-main;
  font-size: 16px;
  color: $white;
  background-color: transparent;
  border: 1px solid rgba(245, 245, 245, .25);
  @include transition($transition-other);
  &:focus {
    border-color: $white;
  }
}

input[type=button], input[type=submit], button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input.input-style {
  height: 44px;
  line-height: 44px;
  letter-spacing: $letter-spacing;
}
textarea.input-style {
  padding: 10px 10px;
  width: 100%;
  min-height: 196px;
  font-family: $font-main;
  font-size: 16px;
  color: $white;
  line-height: 18px;
  letter-spacing: $letter-spacing;
  resize: none;
  border: 1px solid rgba(245, 245, 245, .25);
  @include transition($transition-other);
  &:focus {
    border-color: $white;
  }
}
input::-webkit-input-placeholder {
  font-family: $font-main;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  @include transition($transition-other);
  text-overflow:ellipsis;
}
input::-moz-placeholder {
  font-family: $font-main;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  @include transition($transition-other);
  text-overflow:ellipsis;
}
input:-ms-input-placeholder {
  font-family: $font-main;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  @include transition($transition-other);
  text-overflow:ellipsis;

}
input:-moz-placeholder {
  font-family: $font-main;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  @include transition($transition-other);
  text-overflow:ellipsis;
}
textarea::-webkit-input-placeholder {
  font-family: $font-main;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  @include transition($transition-other);
}
textarea::-moz-placeholder {
  font-family: $font-main;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  @include transition($transition-other);
}
textarea:-ms-input-placeholder {
  font-family: $font-main;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  @include transition($transition-other);
}
textarea:-moz-placeholder {
  font-family: $font-main;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  @include transition($transition-other);
}
input:focus::-webkit-input-placeholder { opacity: 0; }
input:focus::-moz-placeholder { opacity: 0; }
input:focus:-ms-input-placeholder { opacity: 0; }
input:focus:-moz-placeholder { opacity: 0; }
textarea:focus::-webkit-input-placeholder { opacity: 0;}
textarea:focus::-moz-placeholder { opacity: 0;}
textarea:focus:-ms-input-placeholder { opacity: 0;}
textarea:focus:-moz-placeholder { opacity: 0;}

.file-wrap {
  position: relative;
  display: block;
}
  .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 15px 10px 12px;
    cursor: pointer;
  }
  .input-file-trigger {
    position: relative;
    display: block;
    width: 100%;
    height: 44px;
    margin: 0;
    box-shadow: none;
    padding: 15px 10px 12px;
    font-family: $font-main;
    font-size: 12px;
    color: $white;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgba(245, 245, 245, .25);
    cursor: pointer;
    @include transition($transition-other);
    &:after {
      position: absolute;
      content: '+';
      font-size: 40px;
      right: 9px;
      top: -1px;
      line-height: 40px;
      color: #f6ae4e;
      cursor: pointer;
    }
  }

.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  border-color: $white;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
