.mobile-menu-inner {
  max-width: 320px;
  margin: 0 auto;
}
  .mobile-menu {
    > li {
      border-bottom: 1px solid #414F74;
      a {
        position: relative;
        display: block;
        padding: 25px 15px 23px;
        font-size: 19px;
        letter-spacing: .08em;
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        &:after {
          position: absolute;
          content: '';
          top: 45%;
          right: 13px;
          width: 9px;
          height: 9px;
          border: 1px solid #414F74;
          border-left: none;
          border-bottom: none;
          @include css3-prefix('transform-origin','50% 50%');
          @include css3-prefix('transform', ' translate(-50%, 0) rotate(45deg)');
          @include transition($transition-other);
        }
        &:hover {
          font-weight: $bold;
          color: $color-text3;
          &:after {
            border-width: 3px;
            border-color: $color-bg3;
          }
        }
      }
    }
  }

.contact-list {
  overflow: hidden;
  margin: 17px -10px 0;
  > li {
    position: relative;
    width: 100%;
    margin-bottom: 43px;
  }
}
  .contact-box {
    display: table;
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
    .contact-cell {
      > * {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .contact-title {
      font-size: 13px;
      letter-spacing: $letter-spacing;
      color: #b4b1ae;
    }
    a.contact-link,
    .contact-link {
      display: block;
      margin-bottom: 3px;
      font-size: 14px;
      letter-spacing: $letter-spacing;
      line-height: 1;
      color: $white;
    }
    a.contact-link {
      margin-bottom: 8px;
      &:hover,
      &:focus {
        text-decoration: none;
        color: $color-text3;
      }
    }
    a[href^="tel:"].contact-link {
      color: $white;
      &:focus {
        color: $white;
      }
    }
  .contact-title,
  .contact-cell {
    display: table-cell;
    vertical-align: middle;
  }

  .contact-cell {
    text-align: right;
  }
