/*fonts*/
$font-main: 'Calibri', Arial, sans-serif;
$font-heading: 'Patua One', $font-main;
$font-thin: 'SFUIDisplay-Thin', Arial, sans-serif;
$font-ul: 'SFUIDisplay-UL', Arial, sans-serif;

/*fonts-weight*/
$light: 300;
//$normal: 400;
$bold: 700;

/*fonts-size*/
$size-smallest: .9rem;
$size-small: .95rem;
$size-main: 20px;
$size-big: 1.1rem;
$size-biggest: 1.25rem;

$size-heading: 3.75rem;
$size-heading-small: 3rem;
$size-heading-big: 4.6rem;

/*line-height*/
$line-height: 1.2;
$line-height-heading: 1;

/*letter-spacing*/
$letter-spacing: .02em;

/*colors*/
$white: #ffffff;
$color-text: #000f3e;
$color-text2: #f6ae4e;
$color-text3: #f6ae4e;
$color-bg1: $white;
$color-bg2: #000f3e;
$color-bg3: #f6ae4e;

$color-bg4: #d5d5d5;

/*transition*/
$transition-link: 0.2s;
$transition-other: 0.35s;

/*border-radius*/
$radius-main: 10px;
$radius-small: 5px;

//columns - grid - for custom layouts
$col: 8.333333333%;