/*fonts*/
$font-main: 'Calibri', Arial, sans-serif;
$font-heading: 'Patua One', $font-main;
$font-thin: 'SFUIDisplay-Thin', Arial, sans-serif;
$font-ul: 'SFUIDisplay-UL', Arial, sans-serif;

/*fonts-weight*/
$light: 300;
//$normal: 400;
$bold: 700;

/*fonts-size*/
$size-smallest: .9rem;
$size-small: .95rem;
$size-main: 20px;
$size-big: 1.1rem;
$size-biggest: 1.25rem;

$size-heading: 3.75rem;
$size-heading-small: 3rem;
$size-heading-big: 4.6rem;

/*line-height*/
$line-height: 1.2;
$line-height-heading: 1;

/*letter-spacing*/
$letter-spacing: .02em;

/*colors*/
$white: #ffffff;
$black: #000000;
$color-text: #000f3e;
$color-text2: #f6ae4e;
$color-text3: #f6ae4e;
$color-bg1: $white;
$color-bg2: #000f3e;
$color-bg3: #f6ae4e;

$color-bg4: #d5d5d5;

/*transition*/
$transition-link: 0.2s;
$transition-other: 0.35s;

/*border-radius*/
$radius-main: 10px;
$radius-small: 5px;

//columns - grid - for custom layouts
$col: 8.333333333%;

//////////////////////////////
//  Settings for Magnific  //
////////////////////////////

// overlay
$mfp-overlay-color:                   #0b0b0b !default;                    // Color of overlay screen
$mfp-overlay-opacity:                 0.8 !default;                        // Opacity of overlay screen
$mfp-shadow:                          0 0 8px rgba(0, 0, 0, 0.6) !default; // Shadow on image or iframe

// spacing
$mfp-popup-padding-left:              8px !default;                        // Padding from left and from right side
$mfp-popup-padding-left-mobile:       6px !default;                        // Same as above, but is applied when width of window is less than 800px

$mfp-z-index-base:                    1040 !default;                       // Base z-index of popup

// controls
$mfp-include-arrows:                  true !default;                       // Include styles for nav arrows
$mfp-controls-opacity:                0.65 !default;                       // Opacity of controls
$mfp-controls-color:                  #FFF !default;                       // Color of controls
$mfp-controls-border-color:           #3F3F3F !default; 	                 // Border color of controls
$mfp-inner-close-icon-color:          #333 !default;                       // Color of close button when inside
$mfp-controls-text-color:             #CCC !default;                       // Color of preloader and "1 of X" indicator
$mfp-controls-text-color-hover:       #FFF !default;                       // Hover color of preloader and "1 of X" indicator

// Iframe-type options
$mfp-include-iframe-type:             true !default;                       // Enable Iframe-type popups
$mfp-iframe-padding-top:              40px !default;                       // Iframe padding top
$mfp-iframe-background:               #000 !default;                       // Background color of iframes
$mfp-iframe-max-width:                900px !default;                      // Maximum width of iframes
$mfp-iframe-ratio:                    9/16 !default;                       // Ratio of iframe (9/16 = widescreen, 3/4 = standard, etc.)

// Image-type options
$mfp-include-image-type:              true !default;                       // Enable Image-type popups
$mfp-image-background:                #444 !default;
$mfp-image-padding-top:               40px !default;                       // Image padding top
$mfp-image-padding-bottom:            40px !default;                       // Image padding bottom
$mfp-include-mobile-layout-for-image: true !default;                       // Removes paddings from top and bottom

// Image caption options
$mfp-caption-title-color:             #F3F3F3 !default;                    // Caption title color
$mfp-caption-subtitle-color:          #BDBDBD !default;                    // Caption subtitle color

// A11y
$mfp-use-visuallyhidden:              false !default;                      // Hide content from browsers, but make it available for screen readers